.container {
    width: 600px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
}

.satu, .dua, .tiga {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.satu {
    background-color: salmon;
}

.dua {
    background-color: limegreen;

    /* * element be in another dimension */
    position: relative; 
    
    /* ? to uses this properties you must use position (except static) properties first */
    top : 10px; 
}

.tiga {
    background-color: lightskyblue;
    width: 110px;
}